body{
    background-color: hsl(0, 0%, 8%);
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.name{
    color: hsl(0, 0%, 100%) ;
}

.location{
    color:hsl(75, 94%, 57%);
}
.card {
    background: hsl(0, 0%, 12%);
    width: 20em;
    height: 35em;
    display: flexbox;
    border-radius: 7%;
    padding: 5%;
}

.profile{
    width: 8em;
    border-radius: 50%;
}

.social-link {
    padding: 15px;
    border-radius: 5%;
    margin-top: 20px;
    background: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    
}

.social-link:hover {
    cursor: pointer ;
    font-weight: bolder;
    background: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
}